nav {
  margin-top: -30px;
}

nav ul li a {
  padding: 0 150px;
}

div.row.center {
  margin-top: 40px;
}

h3, h4 {
  font-family: Amatic SC;
}

li.brand-logo.right {
  font-family:
}

div.card-content.white-text {
  font-size: 13px;
}

div.row.center {
  margin-top: 75px;
}

footer.page-footer.blue.lighten-1 {
  margin-top: 60px;
}

div#intrinsic {
  border-style: solid;
  border-color: grey;
  width: 324.5px;
}

div#extrinsic {
  border-style: solid;
  border-color: grey;
  width: 324.5px;
}

.box-container {
  height: 200px;
}

.box-item {
  width: 100%;
  z-index: 1000
}

#title {
  font-weight: bold;
  position: absolute;
  z-index: 100;
  margin-top: -130px;
  margin-left: 60px;
}

#duke {
  color: white;
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}

#logo {
  margin-left: -170px;
}

#solving-problems {
  height: 97px;
}

#completing-studies {
  height: 97px;
}

#getting-paid {
  height: 97px;
}

#digital-world {
  height: 97px;
}
